/* -------- CONTAINERS ------------ */
.page-container-flex-col {
  display: flex;
  flex-direction: column;
  background-color: #191919;
}

/* -------- WIDTHS & HEIGHTS --------- */
.width-100-percent {
  width: 100%;
}

.height-100-vh {
  height: 100vh;
}

.min-height-600 {
  min-height: 600px;
}

/* -------- HEADER SECTION --------- */

/* -------- IMAGES --------- */
.top-banner-img {
  width: 100%;
}

/* -------- TEXT --------- */
.stnd-h1 {
  font-size: 1.3rem;
}

.color-white {
  color: #fff;
}

/* -------- MARGINS & PADDING --------- */
.margin-0 {
  margin: 0;
}

/* -------- MEDIA QUERIES --------- */
