/* -------- CONTAINERS ------------ */
.page-container-flex-col {
  display: flex;
  flex-direction: column;
  background-color: #191919;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: solid 1px white;
}

/* -------- WIDTHS, HEIGHTS & PADDING --------- */
.width-100-percent {
  width: 100%;
}

.width-80-percent {
  width: 80%;
}

.width-60-percent {
  width: 60%;
}

.width-40-percent {
  width: 40%;
}

.min-height-600 {
  min-height: 600px;
}

.padding-1-percent {
  padding: 1%;
}

.padding-2-percent {
  padding: 2%;
}

/* -------- HEADER SECTION --------- */

/* -------- IMAGES --------- */
.top-banner-img {
  width: 100%;
}

/* -------- TEXT --------- */
.stnd-h1 {
  font-size: 1.3rem;
}

.color-white {
  color: #fff;
}

/* -------- MARGINS & PADDING --------- */
.margin-0 {
  margin: 0;
}
.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

/* -------- MEDIA QUERIES --------- */
